<div class="row ">
  <div class="col-12">
    <form name="form" role="form" novalidate (ngSubmit)="save()" [formGroup]="form">

      <h2 class="card-header col-12"
          style="text-align: center"
      >
        Thêm batch
      </h2>
      <div class="container">
        <div>

          <div class="form-group">
            <label class="form-control-label">Tên batch</label>
            <input type="text" class="form-control"formControlName="apiName" />

          </div>
          <div class="form-group">
            <label class="form-control-label">URL</label>
            <input type="text" class="form-control" formControlName="url" />

          </div>
          <div class="form-group">
            <label class="form-control-label" >Method</label>

            <select class="form-control " formControlName="apiMethod" >
              <option *ngFor="let method of methods" selected value="{{method.value}}">{{method.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <input type="checkbox" formControlName="hasParam"/><label class="form-check-label">Thêm param</label>

          </div>
          <div class="form-group">
            <label class="form-control-label">Warning Message</label>
            <input type="text" class="form-control" formControlName="warningMessage" />

          </div>

        </div>

        <div class="btn-block">
          <button type="button" id="cancel-save" (click)="cancel()" class="btn btn-secondary button">
            &nbsp;<span >Quay lại</span>
          </button>

          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            class="btn btn-primary button"
          >
            <span>Lưu</span>
          </button>
        </div>
      </div>



    </form>
  </div>
</div>
