.button {
  display:inline-block;
  height: 40px;
  width: 100px;
  margin: 10px;
}
.btn-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
::ng-deep .myCustomModalClass .modal-dialog {
  min-width: 80vw;
}
