<div style="overflow-x: auto">

  <div class="card border" style="    min-width: fit-content;">
    <div class="card-body table-responsive">
      <table class="table table-hover">
        <thead>
        <tr>
          <th style="min-width: 140px" *ngFor="let header of headers">{{ header }}</th>
        </tr>


        </thead>
        <tbody class="tableBody ">
        <tr>
          <td>demo</td>
          <td>demo</td>
          <td>demo</td>
          <td>demo</td>
          <td>demo</td>
          <td>
            <button class="btn btn-primary">Start</button>
            <button class="btn btn-danger">Stop</button>
            <button class="btn btn-info">Running</button>

          </td>
        </tr>
        <tr *ngFor="let data of data_from_api;let i = index" [class.active]="i == HighlightRow" [ngClass]="{'data-selected': selectedRow === data.id}">

          <td style="min-width: 100px" *ngFor="let attr of attrs" >
           {{data[attr.name] }}
          </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

