.table tr.active td {
  background-color: #e4e5e6 !important;
  color: black;
  opacity: .4;
}
.table-responsive{
  max-height:400px;
  overflow:scroll;
  width: 100%;
  padding-top: 0;
}

thead tr:nth-child(1) th{
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

thead {
  height: 50px;

}
.btn {
  margin-right: 10px;
}
