<div class="row ">
  <div class="col-12">
    <form name="form" role="form" >

      <h2 class="card-header col-12"
          style="text-align: center"
      >
        Chi tiết
      </h2>
      <div class="container">
        <div>

          <div class="form-group">
            <label class="form-control-label" for="code">Tên batch</label>
            <input disabled type="text" class="form-control"  id="code" value="{{batch['apiName']}}"/>

          </div>
          <div class="form-group">
            <label class="form-control-label">Param</label>
            <textarea disabled [rows]="6" type="text" class="form-control">{{batch.params | json }}</textarea>

          </div>
          <div class="form-group">
            <label class="form-control-label" for="desc">Response</label>
            <textarea disabled [rows]="7" type="text" class="form-control" id="desc" >{{this.batch.response| json}}</textarea>

          </div>
        </div>

        <div class="btn-block">
          <button type="button" id="cancel-save" (click)="cancel()" class="btn btn-secondary button">
            &nbsp;<span >Đóng</span>
          </button>


        </div>
      </div>



    </form>
  </div>
</div>
