<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div style="overflow-x: auto">
  <button class="btn btn-success" style="color:white; margin-bottom: 20px" (click)="addBatch()">Thêm mới</button>
  <div class="card border" style="    min-width: fit-content;">
    <div class="card-body table-responsive">
      <table class="table table-hover table-bordered">
        <thead>
        <tr>
          <th>Tên batch</th>
          <th style="width: 100px">Param</th>
          <th style="width: 100px">Method</th>
          <th style="width: 100px">Action</th>
          <th>Response</th>
          <th style="width: 100px">Status</th>
          <th style="width: 100px">Lịch sử</th>

        </tr>


        </thead>
        <tbody class="tableBody ">
        <tr *ngFor="let batch of listBatch" >

            <td style="width: 250px">{{batch['apiName']}}</td>
            <td (click)="addParam(batch)" >
              <button class="btn btn-primary center-btn" [hidden]="batch['requestParam'] == 'N' ">Thêm</button>
            </td>
            <td>
              {{batch['apiMethod']}}
            </td>
            <td style="width: 100px">
              <button class="btn btn-primary center-btn"  (click)="openConfirm(batch)">Start</button>
            </td>

            <td>{{(JSON.stringify(batch['response'])['length']>50)? (JSON.stringify(batch['response']) | slice:0:50):JSON.stringify(batch['response'])  }}
              <span style="cursor: pointer" (click)="showBatch(batch)" *ngIf="JSON.stringify(batch['response']).length>50">...See more</span>
            </td>
            <td>
              <button class="btn center-btn" *ngIf="batch['status'] == 'SUCCESS'" style="background: lawngreen">SUCCESS</button>
              <button class="btn center-btn" *ngIf="batch['status'] == 'FAILURE'" style="background: red">FAIL</button>

            </td>
            <td>
              <button class="btn btn-warning center-btn" (click)="showHistory(batch)">Xem</button>
            </td>


        </tr>

        </tbody>
      </table>

    </div>
  </div>
</div>

