<div class="row ">
  <div class="col-12">
    <form name="form " role="form" novalidate>
      <h3
        style="text-align: center"
        class="card-header"
      >
        Thêm param
      </h3>
      <div class="container">
        <div>

          <div class="form-group">
            <textarea rows="6" (change)="onChange($event)" (keyup)="onChange($event)" type="text" class="form-control" name="name" id="field_name" data-cy="name"  >{{data | json}}</textarea>

          </div>
        </div>
      </div>

      <div class="btn-block">
        <button
          (click)="save()"
          type="button"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          class="btn btn-primary button"
          [disabled]="parseError"
        >
          <span>Lưu</span>
        </button>
      </div>
    </form>
  </div>
</div>
