<form >
  <div class="modal-header">
    <h4 class="modal-title" data-cy="adrCustomerDeleteDialogHeading" jhiTranslate="entity.delete.title">Xác nhận</h4>

  </div>

  <div class="modal-body">

    <p
      id="jhi-delete-adrCustomer-heading"
    >
      {{this.batch['warningMessage']}}
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close()">
      &nbsp;<span jhiTranslate="entity.action.cancel">Đóng</span>
    </button>

    <button id="jhi-confirm-delete-adrCustomer" (click)="confirm()" data-cy="entityConfirmDeleteButton" type="button" class="btn btn-danger">
      &nbsp;<span>Xác nhận</span>
    </button>
  </div>
</form>
