<div style="overflow-x: auto">
  <div class="modal-header">
    <h4 style="text-align: center;width: 100%" class="modal-title" data-cy="adrCustomerDeleteDialogHeading" jhiTranslate="entity.delete.title">Lịch sử truy vấn</h4>

  </div>
  <div class="card border" style="    min-width: fit-content;">
    <div class="card-body table-responsive">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Tên batch</th>
          <th style="width: 100px">Param</th>
          <th style="width: 100px">Method</th>
          <th>Response</th>
          <th>Status</th>
          <th>Thời gian</th>

        </tr>


        </thead>

        <tbody class="tableBody ">


        <tr *ngFor="let history of historys">
          <td>{{history['apiName']}}</td>
          <td>{{history['inputParam']}}</td>
          <td>{{history['apiMethod']}}</td>
<!--          <td>{{history['responseBody']}}</td>-->
          <td>{{(history['responseBody'])['length']>50? (history['responseBody'] | slice:0:50):history['responseBody']  }}
            <span style="cursor: pointer"  *ngIf="JSON.stringify(history['responseBody']).length>50">...See more</span>
          </td>
          <td>
            <button class="btn center-btn" *ngIf="history['responseStatus'] == 'SUCCESS'" style="background: lawngreen">SUCCESS</button>
            <button class="btn center-btn" *ngIf="history['responseStatus'] == 'FAILURE'" style="background: red">FAIL</button>
          </td>
          <td>{{history['createdAt']}}</td>
        </tr>

        </tbody>
      </table>
      <h1 style="text-align: center" *ngIf="historys.length == 0">
        Không có dữ liệu
      </h1>
    </div>
  </div>
</div>
